@import 'variaveis';

.slick-next, .slick-prev{
    z-index: 1;
}
.slick-next{
    position: fixed;
    right: 10px !important;
}
.slick-prev{
    position: fixed;
    left: 10px !important;
}
.slick-dots{
    display: none !important;
}
.carousel_slider{
    color: #fff;

    .carousel_bg2{
        @extend .carousel_bg1;
        background-image: url("../assets/img/principal_banner_desktop_02.jpg") !important;
    }
    .carousel_bg1{
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../assets/img/principal_banner_desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .carousel_info{
            padding: 4rem;
            text-align: right;

            h1{
                margin: 0;
                font-weight: 900;
                font-size: 3.5rem;
            }

            h2{
                margin: 0;
                color: $color_2;
                font-weight: 900;
                font-size: 5rem;

                span{
                    position: relative;
                    top: -27px;
                    font-size: 2.5rem;
                }

            }
            .white{
                color: #fff;
            }
            .carousel_text{
                width: 41.6%;
                float: right;

                p{  
                    text-align: right;
                    line-height: 1.6rem;
                }

                

            }
        
        }

    }

    @media (max-width: 1200px) {
        
        .carousel_bg1{
            height: auto;
            
            .carousel_info{
                padding: 4rem;
                text-align: right;
        
                h1{
                    font-size: 2.5rem;
                }
        
                h2{
                    font-size: 3rem;

                    span{
                        position: relative;
                        top: -12px;
                        font-size: 2rem;
                    }

                }
            
            }

            .carousel_text{
                width: 50% !important;

                p{  
                    font-size: .8rem;
                    line-height: 1rem !important;
                }

            }
            
        }

    }
    
    @media (max-width: 768px) {
        
        .carousel_bg2{
            background-image: url("../assets/img/principal_banner_mobile_02.jpg")!important;
        }

        .carousel_bg1{
            height: 500px;
            align-items: flex-end;
            background-image: url("../assets/img/principal_banner_mobile.jpg");
            
            .carousel_info{
                padding: 1.5rem;
                background-color: rgba(0, 0, 0, 0.65);
        
                h1{
                    font-size: 1.8rem;
                }
        
                h2{
                    font-size: 3rem;

                    span{
                        position: relative;
                        top: -12px;
                        font-size: 2rem;
                    }

                }

                .white{
                    color: $color_2;
                }
            
            }

            .carousel_text{
                width: 100% !important;

                p{  
                    font-size: .8rem;
                    line-height: 1rem !important;
                }

            }
            
        }
        
    }

}

// .slick-dots{
//     position: fixed;
//     width: 5rem;
//     height: 2rem;
//     top: 500px;
//     right: 0;
//     padding: 0;
//     background-color: $color_2;
// }