@import 'variaveis';

.footer{
    width: 100%;
    height: auto;
    color: #fff;
    
    .logo{
        width: 31%;
        height: 50px;
        float: left;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 2%;
        background-color: $color_1;

        img{
            width: 35px;
            height: 25px;
        }
    }

    .direitos{
        width: 61%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 2%;
        background-color: $color_2;

        p{
            font-size: .8rem;
            margin: .3rem 0;
        }

    }

}