@import 'variaveis';
@import 'menu-item';

.header{
    color: #fff;
    background-color: #000; 
    
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header_left{
        display: flex;
        align-items: center;

        .header_button{
            float: left;
            
            .header_button_close{
                display: none;
                @extend .header_button_menu;
            }
            
            .header_button_menu{
                border: 0;
                padding: .6rem .9rem;
                cursor: pointer;
                text-align: center;
                background: transparent;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                border: 1px solid transparent;
    
                img {
                    width: 1.3rem;
                    transition: 0.3s ease-in-out;
                }
    
                &:focus {
                    border-color: $color_2;
                }
    
                &:focus .menu_item{
                    display: block;
                }
    
                &:hover .menu_item{
                    display: block;
                }
            }  
    
        }
        
        .header_logo{
            width: 8rem;
            height: auto;
            padding: 1.2rem 0 1.2rem 1rem;
    
            img{
                width: 100%;
                height: auto;
            }
    
        }

        // MOBILE 
        @media (max-width: 768px) {
            
            .menu_item{
                display: none;
            }
            
            .header_button{

                .header_button_menu{
                    border: none;
                    margin: 0 1rem 0 0;

                    img {
                        width: 1.2rem;
                    }

                    &:focus + .menu_item{
                        display: block;
                    }
                  
                }

            }

            .header_logo{
                width: 6rem;
                height: auto;
                padding: 1.2rem 0;
        
                img{
                    width: 100%;
                    height: auto;
                }
            }
            
        }

    }
    
    .header_left{
        display: flex;
        align-items: center;    
    }

    .header_list{
        margin: 0;
        list-style-type: none;
        display: inline-block;

        .link{
            text-decoration: none;
            color: #fff;
            border-right: 1px solid #fff;
            margin: 0 3rem 0 0;
            padding: .3rem 3rem .3rem 0;

            &:last-child{
                margin: 0;
                padding: 0;
            }

            &:last-child{
                border: 0;
            }

        }

        img{
            position: relative;
            top: 5px;
            width: 1.3rem;
            margin: 0 .5rem 0 0;
        }

        li{
            width: auto;
            font-size: .9rem;
            font-weight: bold;
            display: inline-block;
            list-style-type: none;          
        }

        .bag_button{
            position: relative;
            left: -5px;
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 50%;
            background-color: $color_2;
        }

        // MOBILE 
        @media (max-width: 768px) {
            
            margin: -5px 0 0 0;
            
            .bag_button{
                top: -7px;
                left: -15px;
            }

            .li{
                display: none;
            }           
            .link{
                margin: 0 .5rem 0 0;
                padding: .0rem .1rem .0rem 0;
            }

        }

    }

}